# macOS
.DS_Store

# Python
backend/env/
env/
__pycache__/
*.pyc

# Node
node_modules/
build/

# Redis
dump.rdb

# Virtual environments
backend/venv/  # <-- Add this line
venv/
frontend/src/assets/transformations/
frontend/src/assets/transformations/
